@using Goomer.Web.Models.Tires
    @using Goomer.Services.Web
    @model IEnumerable<ListingTireViewModel>

    @{
        ViewBag.Title = "PartialRims";
        var identifierProvider = new IdentifierProvider();
    }

    @foreach (var tire in Model)
            {
        <div style="margin-bottom:50px" class="row">
            <div class="col-sm-7 col-sm-offset-2">
                <div class="image-tile outer-title text-center">
                    <a href="/Tires/TireAd?id=@identifierProvider.EncodeId(tire.Id)">
                        <img alt="Pic" class="product-thumb" src="@tire.Pictures.First().Url" />
                    </a>
                    <div class="title" style="display:inline-block">
                        <h3 class="mb0">
                            @tire.Brand @tire.Model <b>@tire.Price лв.</b>
                        </h3>
                        <span style="width:450px" class="mb16 display-block">Последно Коригирана: @tire.ModifiedOn </span>
                        <span style="width:450px" class="mb16 display-block">Местоположение: @tire.Siting </span>
                        <span style="width:450px" class="mb16 display-block">Състояние: @( tire.IsBrandNew ? " Нови" : " Употребявани" )</span>

                    </div>
                </div>

            </div>
        </div>
    }