@model HomeViewModel
@using Goomer.Web.Models.Home
@{
    ViewBag.Title = "Home Page";
}

<section class="cover image-slider slider-all-controls controls-inside parallax" style="height:50vh;">
    <ul class="slides">
        <li class="overlay image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="~/Content/Site/close-up-tire.jpg" />
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-sm-offset-1 text-center col-sm-10">
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>

                        <h6 class="uppercase mb16">Безплатни обяви за гуми</h6>
                        <p class="lead mb40">
                            В Goomer можеш да търсиш из обяви за гуми с подробна търсачка,
                            <br />както и да добавяш нови напълно безплатно.
                        </p>
                        <a class="btn btn-lg btn-white" href="#">Разгледай</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
        </li>
        <li class="overlay image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="~/Content/Site/close-up-rimtire.jpg" />
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-sm-offset-1 text-center col-sm-10">
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>

                        <h6 class="uppercase mb16">Безплатни обяви за джанти с гуми</h6>
                        <p class="lead mb40">
                            В Goomer можеш да търсиш из обяви за гуми с джанти с подробна търсачка,
                            <br />както и да добавяш нови напълно безплатно.
                        </p>
                        <a class="btn btn-lg btn-white" href="#">Разгледай</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
        </li>
        <li class="overlay image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="~/Content/Site/close-up-rim.jpg" />
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-sm-offset-1 text-center col-sm-10">
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>
                        <h1 class="mb40 mb-xs-16 large">&nbsp;</h1>
                        <h6 class="uppercase mb16">Безплатни обяви за джанти</h6>
                        <p class="lead mb40">
                            В Goomer можеш да търсиш из обяви за джанти с подробна търсачка,
                            <br />както и да добавяш нови напълно безплатно.
                        </p>
                        <a class="btn btn-lg btn-white" href="#">Разгледай</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
        </li>
    </ul>
</section>
<section>
    
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <h2 style="font-family: 'Oswald', sans-serif;">Търси измежду 432433 обяви.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <p class="lead text-success">
                    Последни обяви в гуми:
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="row masonry">
            @foreach (var tire in Model.Tires)
            {
                <div class="col-md-3 col-sm-4 masonry-item col-xs-12">
                    <div class="image-tile outer-title text-center">
                        <a href="#">
                            <img alt="Pic" class="product-thumb" src="@tire.Pictures.First().Url" />
                        </a>
                        <div class="title">
                            <h5 class="mb0">
                                @HttpUtility.HtmlEncode(tire.Brand)
                                <br /> @HttpUtility.HtmlEncode(tire.Model)
                            </h5>
                            <span class="display-block mb16">@HttpUtility.HtmlEncode(tire.Price) лв.</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <p class="lead text-success">
                    Последни обяви в джанти:
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="row masonry">
            @foreach (var rim in Model.Rims)
            {
                <div class="col-md-3 col-sm-4 masonry-item col-xs-12">
                    <div class="image-tile outer-title text-center">
                        <a href="#">
                            <img alt="Pic" class="product-thumb" src="@rim.Pictures.First().Url" />
                        </a>
                        <div class="title">
                            <h5 class="mb0">
                                @HttpUtility.HtmlEncode(rim.Brand)
                                <br /> @HttpUtility.HtmlEncode(rim.Model)
                            </h5>
                            <span class="display-block mb16">@HttpUtility.HtmlEncode(rim.Price) лв.</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <p class="lead text-success">
                    Последни обяви в гуми с джанти:
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="row masonry">
            @foreach (var rimWithTire in Model.RimsWithTires)
            {
                <div class="col-md-3 col-sm-4 masonry-item col-xs-12">
                    <div class="image-tile outer-title text-center">
                        <a href="#">
                            <img alt="Pic" class="product-thumb" src="@rimWithTire.Pictures.First().Url" />
                        </a>
                        <div class="title">
                            <h5 class="mb0">
                                @HttpUtility.HtmlEncode(rimWithTire.Brand)
                                <br /> @HttpUtility.HtmlEncode(rimWithTire.Model)
                            </h5>
                            <span class="display-block mb16">@HttpUtility.HtmlEncode(rimWithTire.Price) лв.</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>