@using Goomer.Web.Models.RimsWithTires
@using Goomer.Services.Web
@model IEnumerable<ListingTireWithRimViewModel>

@{
    ViewBag.Title = "PartialRims";
    var identifierProvider = new IdentifierProvider();
}

@foreach (var rimWithTire in Model)
            {
    <div style="margin-bottom:50px" class="row">
        <div class="col-sm-7 col-sm-offset-2">
            <div class="image-tile outer-title text-center">
                <a href="/Rims/RimAd?id=@identifierProvider.EncodeId(rimWithTire.Id)">
                    <img alt="Pic" class="product-thumb" src="@rimWithTire.Pictures.First().Url" />
                </a>
                <div class="title" style="display:inline-block">
                    <h3 class="mb0">
                        @rimWithTire.Brand @rimWithTire.Model <b>@rimWithTire.Price лв.</b>
                    </h3>
                    <span style="width:450px" class="mb16 display-block">Последно Коригирана: @rimWithTire.ModifiedOn </span>
                    <span style="width:450px" class="mb16 display-block">Местоположение: @rimWithTire.Siting </span>
                    <span style="width:450px" class="mb16 display-block">Състояние: @( rimWithTire.IsBrandNew ? " Нови" : " Употребявани" )</span>

                </div>
            </div>

        </div>
    </div>
}