@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Goomer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body class="scroll-assist">
    <div class="nav-container">
        <a id="top"></a>
        <nav class="bg-dark">
            <div class="nav-bar" style="background-color:#ffbb33">
                <div class="module left">
                    <a href="/">
                        <img class="logo" width="265px" alt="Foundry" src="~/Content/Site/logo.png" />
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="#">
                                    Търси гуми
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Търси джанти
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Търси гуми с джанти
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="module widget-handle language left">
                        <ul class="menu">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
                <!--end of module group-->
            </div>
        </nav>
    </div>
    <div class="main-container">
        @RenderBody()
        <footer class="footer-1 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <img alt="Logo" class="logo" src="~/Content/Site/logo.png"" />
                    </div>                   
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-6">
                        <span class="sub">&copy; Copyright 2016 - Joronator did all this shit.</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="list-inline social-list">
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-vimeo-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of container-->
            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
        </footer>
    </div>    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/flickr.js"></script>
    <script src="~/Scripts/flexslider.min.js"></script>
    <script src="~/Scripts/lightbox.min.js"></script>
    <script src="~/Scripts/masonry.min.js"></script>
    <script src="~/Scripts/twitterfetcher.min.js"></script>
    <script src="~/Scripts/spectragram.min.js"></script>
    <script src="~/Scripts/ytplayer.min.js"></script>
    <script src="~/Scripts/countdown.min.js"></script>
    <script src="~/Scripts/smooth-scroll.min.js"></script>
    <script src="~/Scripts/parallax.js"></script>
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>